body {
  background-image: url("pic1.png");
}
header {
  text-align: center;
}

footer {
  text-align: center;
  margin: 30px;
}
i {
  font-size: 30px;
}
.container {
  width: 600px;
  display: block;
  margin: 40px auto;
}
.wrapper {
  border: 1px solid #3a9679;
  border-radius: 10px;
  padding: 40px;
}
