body {
  background-image: url("pictures/pic3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Indie Flower", cursive;
  margin-top: 40px;
}
form {
  font-size: large;
}
h2,
p,
li {
  color: #392f2f;
}

h1 {
  font-family: "Pacifico", cursive;
  font-size: 50px;
  text-align: center;
  padding: 20px;
  margin-bottom: -40px;
  color: #3a7563;
}
h2 {
  padding: 20px;
  margin: 0;
  font-size: 24px;
  background-color: #e9f5f3;
}
p {
  font-size: 24px;
}
hr {
  margin: 0;
}

ul {
  list-style: none;
}
footer {
  text-align: center;
  margin: 30px;
}
footer i {
  font-size: 30px;
  color: #ff7e67;
}
.container {
  width: 600px;
  display: block;
  margin: auto;
}
.wrapper {
  border: 1px solid #392f2f;
  border-radius: 80px;
  box-shadow: 1px 1px 15px;

  background-color: #ffffff;
}
.header {
  margin: 40px;
}
.inner-info {
  margin: 40px;
}
.right-section {
  text-align: right;
  position: relative;
  right: 38px;
}
.icon-main {
  position: relative;
  right: -45px;
}
#day-time {
  text-align: center;
}
.units {
  text-align: right;
  position: relative;
  top: -30px;
  right: 40px;
  margin: 0;
  padding: 0;
}
.weather-days {
  margin-top: 10px;
  text-align: center;
}
.search,
#celsius-button,
.my-city,
#fahrenheit-button {
  background-color: #ff7e67;
}

li:first-letter {
  text-transform: capitalize;
}
#main-city:first-letter {
  text-transform: capitalize;
}
#forecast {
  margin-top: 15px;
  margin-bottom: -20px;
}

strong {
  text-shadow: 0.5px 1px black;
}

@media (max-width: 600px) {
  body: smaller;
}
